
<div class="container">

   <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title"><strong>View your current balance</strong></h3></div>

      <div class="panel-body">
        <p id="balance"> balance: €<%= @user.balance %></p>
      </div>
    </div>
  </div>
</div>
