<!DOCTYPE html>
<html>
  <head>
    <title>Bambank</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
          <div id="navbar-top" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href='#'><%= current_user.name %></a></li>
              <li><%= link_to('Log Out', destroy_user_session_path, :method => :delete, :type => :button) %></li>
            </ul>
          </div>
        </div>
      </nav>
    <% end %>

    <% flash.each do |message_type, message| %>
      <div class="alert alert-info alert-<%= message_type %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= message %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
